@import '../../utils/vars';

.global,
.country {
  border: 1px solid var(--font-color);
  padding: 1rem;

  p {
    margin-left: 0.7rem;
  }

  h3 {
    position: relative;
  }
}

.global {
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  .global,
  .country {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 50%;
    height: 100%;
  }
}