:root {
  --font-color: whitesmoke;
  --background-color: rgb(41, 40, 40);
  --navbar-background-color: rgb(95, 95, 95);
  --default-transition: 0.5s;
}

[data-theme='white'] {
  --font-color: black;
  --background-color: white;
  --navbar-background-color: rgb(95, 95, 95);
}
