@import '../styles/vars';

.container,
.about-container,
.not-found-container {
  @extend %container;

  .button {
    background-color: var(--navbar-background-color);
    color: whitesmoke;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
  }
}

.about-container {
  p,
  h1 {
    margin-bottom: 1rem;
    padding: 0 1rem;

    a {
      color: var(--font-color);
    }
  }
}

@media (min-width: 900px) {
  .container {
    display: flex;
    max-width: 700px;
    height: 315px;
  }
}
