@import '../../styles/vars';

//  used to style switch for themes
.switch {
  position: absolute;
  display: inline-block;
  width: 3rem;
  height: 1.4rem;
  top: 2rem;
  right: 2rem;

  input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 0.7rem;

    &::before {
      position: absolute;
      content: '';
      height: 1.2rem;
      width: 1.2rem;
      left: 0.1rem;
      bottom: 0.1rem;
      background-color: black;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
  }

  .slider:after {
    content: '\263C';
    color: black;
    display: block;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 15%;
    font-size: 1.1rem;
  }

  input:checked + .slider:after {
    content: '\263E';
    right: 60%;
    font-size: 1rem;
  }
}
