@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgb(41, 40, 40);
  color: whitesmoke;
  letter-spacing: 0.12rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: block;
  padding: 1rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  background-color: black;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar li {
  transition: all 0.2s ease-in-out;
}

.navbar a {
  margin: 0 0.5rem;
  color: whitesmoke;
  text-decoration: none;
}

.navbar li:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.76);
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* Container */
.container {
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.world,
.country {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.world {
  margin-bottom: 2rem;
}

:is(.world, .country) p {
  margin-left: 0.7rem;
}

/* select */
.select {
  height: 1.5rem;
  min-width: 7rem;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgb(61, 61, 61);
  position: relative;
  top: -2.5px;
  left: 5px;
}

/* About page */
.fragment :is(h1, p) {
  margin-bottom: 1rem;
}
