@import '../../helpers/vars';

.global,
.country {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;

  p {
    margin-left: 0.7rem;
  }

  h3 {
    position: relative;

    .select {
      height: 1.5rem;
      min-width: 9rem;
      border-radius: 5px;
      color: var(--light-font-color);
      background: var(--main-background-color);
      cursor: pointer;
      outline: none;
      text-indent: 0.5rem;
      position: absolute;
      top: 0.1rem;
      left: 1.7rem;
    }
  }
}

.global {
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  .global,
  .country {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 50%;
    height: 100%;
  }
}